proxmox/.direnv
services/vaultwarden/vw-data
services/audiobookshelf/config
services/audiobookshelf/metadata
services/immich/library
aws/.terraform/providers/registry.opentofu.org/hashicorp/aws/5.98.0/linux_amd64
aws/terraform.tfstate.backup
aws/terraform.tfstate
services/paperless/consume
services/filebrowser/filebrowser.db
services/jellyfin
services/nginx/cloudflare.ini
services/nginx/certbot/conf/renewal
services/traefik/.env
services/authelia/authelia/config/db.sqlite3
services/authelia/authelia/config/notification.txt
.direnv/bin
.direnv
services/cert-manager/secret.yml
incus/.terraform/providers/registry.opentofu.org/lxc/incus/1.0.0
incus/terraform.tfstate
incus/terraform.tfstate.backup
incus/terraform.tfvars
